*{ 
    box-sizing: border-box;
}
body{
    background-color: black;    
    gap: 90px;
}
header{
    width: 100%;
    background-color: #636364;
    padding: 50px 30px 15px 30px;
    box-shadow: 2px 2px 10px rgb(145, 145, 145);
    position: fixed;
    bottom: 92%;
}
.nome{
    display: none;

}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.canto{
    display: flex;
    justify-content: end;
}
.subtitulo{
    font-size: 25px;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    color: black;
    margin-right: 30px;
    transition: 1s;
}
.insta2{
    display: none;
    height: 20px;
    width: 20px;
    transition: 1s;
}
.insta2:hover{
    display: none;
    color:  rgb(255, 255, 255);

}
.subtitulo:hover{
    font-size: 25px;
    font-weight: 200;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    color:  rgb(255, 255, 255);
    margin-right: 30px;
}
.titulo{
    font-size: 35px;
    font-weight: 500;
    white-space: pre;
    font-family: 'Inter', sans-serif;
}
main{
    height: 100%;
}
.apresent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 8em;
}
.foto{
    height: 247px;
    width: 247px;
    border-radius: 100%;
    background-image: url(fotofelipe.jpg);
    background-position: center;
    background-size: 100%;
    transition: .3s;
}
.foto:hover{
    height: 247px;
    width: 247px;
    border-radius: 100%;
    background-image: url(lobo.png);
    background-position: center;
    background-size: 100%;
}
.contornofoto{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subtexto{
    display: flex;
    max-width: 700px;
    flex-direction: column;
    gap: 1.5em;
}
.subtitulo1{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #ffffff;
}
.texto{
    font-size: 1.3em;
    font-family: 'Inter', sans-serif;
    line-height: 125%;
    justify-content: left;
    color: #ffffff;
}

.card{
    display: flex;
    width: 104px;
    height: 150px;
    background-color: #636364;
    box-shadow: 1px 1px 20px black;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(145, 145, 145);
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}
.card1{
    background-image: url(controle.png);
    background-position:   100% 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.card2{
    background-image: url(Música.png);
    background-position: 50% 80%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-size: 70%;
}
.card3{
    background-image: url(praia.png);
    background-position: 50% 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.card4{
    background-image: url(filme.png);
    background-position: 50% 90%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.card5{
    background-image: url(piano.png);
    background-position: 50% 90%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.card6{
    background-image: url(will.jpg);
    background-position:  100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.card7{
    background-image: url(dylan.jpg);
    background-position: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.card8{
    background-image: url(adam.jpg);
    background-position: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.card9{
    background-image: url(Dwane.jpg);
    background-position: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.card10{
    background-image: url(Michael.jpg);
    background-position: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.preenchimento{
    margin-top: 1em;
    color: #ffffff;
    font-weight:bold;
}
.base1{
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Bebas Neue', sans-serif;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;

}
.base2{
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
    align-content: space-around;
    margin-top: 20px;
    justify-content: center;
}
.cartoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 56px;
    gap: 46px;
   
}
.textocard{
    height: 50%;
    width: 90%;
    align-self: center;
    font-family: 'Inter', sans-serif;
    text-align: center;
    align-items: center;
}
.hobbies{
    display: flex;
    justify-content: end;
}
.atores{
    display: flex;
}
.rodape{
    display: flex;
    width: 100%;
    background-color: #636364;
    justify-content: start;
    align-items: center;
    height: 40px;
    position: fixed;
    bottom: 0;
    box-shadow: 1px 1px 20px rgb(145, 145, 145);
}    
.insta{
    height: 20px;
    width: 20px;
    margin-left: 2rem;
}
@media screen and (max-width: 1300px) {
    .insta2{
        display: block;
        align-self: baseline;
        transition: 1s;
    }
    .insta2:hover{
            display: block;
            width: 18px;
            height: 18px;
        }
    .texto{
        font-size: .8;
    }
    .titulo{
        display: none;
    }
    .nome{
        font-size: 20px;
        font-weight: 600;
        font-family: 'Inter', sans-serif;
        display: inline-block;
    }
    .base1{
        display: flex;
        align-content: space-between;
    }
    .base2{
        display: flex;
        align-content: space-between;
    }
    .apresent{
        max-width: 100%;
        flex-direction: column;
        margin-top: 5rem;
    }
    .cartoes{
        flex-direction: column;
        max-width: 100%;
        flex-wrap: wrap;
    }
    .rodape{
        display: none;
    }
    .hobbies{
        justify-content: start;
        margin-left: 1rem;
    }
    .card{
        height: 120px;
    }
}
@media screen and (max-width: 780px){
    .insta2{
        display: block;
        align-self: baseline;
        width: 18px;
        height: 18px;
        transition: 1s;
    }
    .insta2:hover{
        display: block;
        width: 18px;
        height: 18px;
    }
    .subtexto{
        max-width: 100%;
        align-items: center;
    }
    .foto{
        justify-content: flex-start;
        width: 200px ;
        height: 200px ;
        padding: 3em;
        margin-bottom: 3em;
    }
    .texto{
        font-size: .8em;
        text-align: center;
    }
    .subtitulo{
        font-size: 18px;
    }
    .subtitulo:hover{
        font-size: 18px;
    }
    .cantoesquerdo{
        align-self: flex-end;
    }
}